enum {{classname}} : string
{
    /**
     * Possible values of this enum
     */
    {{#allowableValues}}
    {{#enumVars}}
    case {{^isString}}NUMBER_{{/isString}}{{{name}}} = {{{value}}};

    {{/enumVars}}
    {{/allowableValues}}
    /**
     * Gets allowable values of the enum
     * @return string[]
     */
    public static function getAllowableEnumValues()
    {
        return array_map(function (self $enum) {
            return $enum->value;
        } , self::cases());
    }
}
